In [1]:
import pandas as pd 
import numpy as np

In [2]:
data_a = pd.read_csv("Resources/Cierre_agricola_mun_2017.csv", encoding='latin-1')
data_a.head()

,Anio,Idestado,Nomestado,Idddr,Nomddr,Idcader,Nomcader,Idmunicipio,Nommunicipio,Idciclo,...,Idcultivo,Nomcultivo,Sembrada,Cosechada,Siniestrada,Volumenproduccion,Rendimiento,Precio,Valorproduccion,Unnamed: 24
0,2017,16,Michoacán,87,Zamora,3,Reyes Los,75,Los Reyes,3,...,9310000,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,NaN
1,2017,16,Michoacán,86,Uruapan,1,Parangaricutiro,83,Tancítaro,3,...,5060000,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,NaN
2,2017,16,Michoacán,87,Zamora,1,Zamora,108,Zamora,1,...,6820000,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,NaN
3,2017,26,Sonora,139,Caborca,2,Caborca,17,Caborca,3,...,6650000,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,NaN
4,2017,26,Sonora,144,Hermosillo,1,Carbó,30,Hermosillo,3,...,9130000,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,NaN

In [3]:
# Check Dataset Size
data_a.shape

(36912, 25)

In [4]:
# Check datatypes
data_a.dtypes

Anio                    int64
Idestado                int64
Nomestado              object
Idddr                   int64
Nomddr                 object
Idcader                 int64
Nomcader               object
Idmunicipio             int64
Nommunicipio           object
Idciclo                 int64
Nomcicloproductivo     object
Idmodalidad             int64
Nommodalidad           object
Idunidadmedida          int64
Nomunidad              object
Idcultivo               int64
Nomcultivo             object
Sembrada              float64
Cosechada             float64
Siniestrada           float64
Volumenproduccion     float64
Rendimiento           float64
Precio                float64
Valorproduccion       float64
Unnamed: 24           float64
dtype: object

In [5]:
# Check for nulls
data_a.isnull().sum()

Anio                      0
Idestado                  0
Nomestado                 0
Idddr                     0
Nomddr                    0
Idcader                   0
Nomcader                  0
Idmunicipio               0
Nommunicipio              0
Idciclo                   0
Nomcicloproductivo        0
Idmodalidad               0
Nommodalidad              0
Idunidadmedida            0
Nomunidad                 0
Idcultivo                 0
Nomcultivo                0
Sembrada                  0
Cosechada                 0
Siniestrada               0
Volumenproduccion         0
Rendimiento               0
Precio                    0
Valorproduccion           0
Unnamed: 24           36912
dtype: int64

In [6]:
# Check columns names & index
for i, v in enumerate(data_a):
    print(i,v)

0 Anio
1 Idestado
2 Nomestado
3 Idddr
4 Nomddr
5 Idcader
6 Nomcader
7 Idmunicipio
8 Nommunicipio
9 Idciclo
10 Nomcicloproductivo
11 Idmodalidad
12 Nommodalidad
13 Idunidadmedida
14 Nomunidad
15 Idcultivo
16 Nomcultivo
17 Sembrada
18 Cosechada
19 Siniestrada
20 Volumenproduccion
21 Rendimiento
22 Precio
23 Valorproduccion
24 Unnamed: 24

In [7]:
# Drop Columns
data_a = data_a.drop(data_a.columns[[3,4,5, 6, 9, 11, 13, 15, 24]], axis=1)

In [8]:
# Display Data
data_a

,Anio,Idestado,Nomestado,Idmunicipio,Nommunicipio,Nomcicloproductivo,Nommodalidad,Nomunidad,Nomcultivo,Sembrada,Cosechada,Siniestrada,Volumenproduccion,Rendimiento,Precio,Valorproduccion
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00

In [9]:
# Calculate percentage of cosecha vs sembrada
data_a['Sembradavscosecha'] =  data_a['Cosechada'] / data_a['Sembrada']
data_a

,Anio,Idestado,Nomestado,Idmunicipio,Nommunicipio,Nomcicloproductivo,Nommodalidad,Nomunidad,Nomcultivo,Sembrada,Cosechada,Siniestrada,Volumenproduccion,Rendimiento,Precio,Valorproduccion,Sembradavscosecha
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,0.994497
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,0.969234
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,1.000000
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,1.000000
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,0.931422
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000

In [10]:
# Profit by Hectare
data_a['Valorxhectarea'] = data_a['Valorproduccion'] / data_a['Cosechada']
data_a

,Anio,Idestado,Nomestado,Idmunicipio,Nommunicipio,Nomcicloproductivo,Nommodalidad,Nomunidad,Nomcultivo,Sembrada,Cosechada,Siniestrada,Volumenproduccion,Rendimiento,Precio,Valorproduccion,Sembradavscosecha,Valorxhectarea
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,0.994497,1.082497e+06
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,0.969234,2.069630e+05
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,1.000000,1.246525e+06
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,1.000000,4.119305e+05
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,0.931422,3.549266e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,NaN

In [11]:
# Fill NAN values with zero
data_a = data_a.fillna(0)

In [12]:
# Rename columns
data_a.rename(columns = {"Idestado":"Idest", "Idmunicipio":"Idmuni","Nomestado": "Estado", 
                         "Nommunicipio": "Municipio", "Nomcicloproductivo":"Cicloproductivo", 
                         "Nommodalidad": "Modalidad","Nomunidad":"Unidad", 
                         "Nomcultivo":"Cultivo"}, inplace=True)

In [13]:
# Convert to lower case the column names
data_a.columns = data_a.columns.str.lower()

In [14]:
data_a

,año,idest,estado,idmuni,municipio,cicloproductivo,modalidad,unidad,cultivo,sembrada,cosechada,siniestrada,volumenproduccion,rendimiento,precio,valorproduccion,sembradavscosecha,valorxhectarea
0,2017,16,Michoacán,75,Los Reyes,Perennes,Riego,Tonelada,Zarzamora,5088.0,5060.0,0.0,131465.2,25.98,41664.53,5.477436e+09,0.994497,1.082497e+06
1,2017,16,Michoacán,83,Tancítaro,Perennes,Temporal,Tonelada,Aguacate,19502.0,18902.0,0.0,179436.0,9.49,21801.73,3.912014e+09,0.969234,2.069630e+05
2,2017,16,Michoacán,108,Zamora,Otoño-Invierno,Riego,Tonelada,Fresa,3071.0,3071.0,0.0,174952.2,56.97,21880.71,3.828078e+09,1.000000,1.246525e+06
3,2017,26,Sonora,17,Caborca,Perennes,Riego,Tonelada,Espárrago,8021.0,8021.0,0.0,86755.2,10.82,38085.26,3.304095e+09,1.000000,4.119305e+05
4,2017,26,Sonora,30,Hermosillo,Perennes,Riego,Tonelada,Uva,9543.9,8889.4,0.0,156183.0,17.57,20201.20,3.155084e+09,0.931422,3.549266e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36907,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Nopal forrajero,3.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36908,2017,32,Zacatecas,20,Jerez,Perennes,Temporal,Tonelada,Tuna,119.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36909,2017,32,Zacatecas,31,Monte Escobedo,Perennes,Temporal,Tonelada,Manzana,12.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36910,2017,32,Zacatecas,46,Tepetongo,Perennes,Riego,Tonelada,Nopal forrajero,6.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00
36911,2017,32,Zacatecas,55,Villanueva,Perennes,Riego,Tonelada,Durazno,10.0,0.0,0.0,0.0,0.00,0.00,0.000000e+00,0.000000,0.000000e+00

In [15]:
data_a.to_csv("Resources/clean_dataset_2017.csv", index=False)